@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.App .container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

Messages {
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
