@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

.App {
  text-align: center;
  font-family: 'IBM Plex Sans';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat_body {
  width: 100%;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.message {
  text-align: left;
}

.messageName {
  font-weight: bold;
}

.messageTime {
  margin-left: 0.5%;
  font-size: 12px;
}

.input {
  width: 10px;
}

.messageText {
  margin-top: 0.3%;
}

.messageImage {
  float: left;
  max-width: 40px;
  max-height: 40px;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.chat_footer {
  height: 10%;
  width: 100%
}