body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dialog-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
}

.dialog-container .dialog {
  width: 60vw;
  height: 40vh;
  background: white;
  position: absolute;
  top: 30%;
  left: 20%;
}

.icon {
	border-radius: 8px;
	width: 40px;
	height: 40px;
	background: #c4c4c480;
}