.Messages {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.Messages .chat_body {
	flex: 1;
}

.channel_summary {
	display: flex;
	flex-direction: column;
	background-color: #6a81de;
	color: #fcfcff;
}

.summary_content {
	display: flex;
	flex-direction: row;
	padding-left: 30px;
}

.summary_header {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.summary_title {
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	min-width: 200px;
}

.summary_subtitle {
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 28px;
}

.summary_header {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.summary_header .read_status {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.summary_header .read_status > div {
	padding-left: 30px;
}

.summary_detail {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	min-width: 200px;
}

.summary_detail .topic {
	display: flex;
	flex-direction: row;
	padding-left: 30px;
}

.summary_detail .topic .topic_name {
	flex-grow: 1;
}

.summary_detail .topic .topic_confidence {
	flex-grow: 1;
}

.summary_section {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.summary_header {
	display: flex;
	flex-direction: row;
}

.Message .icon {
	margin: 0 8px;
}

.message {
	display: flex;
	padding: 12px;
}

.content {
	display: flex;
	flex-direction: column;
}
  
  .messageName {
	font-weight: bold;
	margin-right: 50px;
  }
  
  .messageTime {
	font-size: 12px;
  }
  
  .messageText {
	color: #707070;
    font-size: 14px;
  }
  
  .chat_footer {
	display: flex;
	height: 100px;
	position: relative;
  }
  
  .chat_textbox {
	flex: 1;
	background: #d4daf5;
	display: flex;
  }

  .chat_textbox input {
	  margin: 8px;
	  flex: 1;
	  border-radius: 4px;
	  border: none;
	  background: #fcfcff;
  }

  .chat_textbox input:focus {
	  outline: none;
  }

  .Messages .chat_footer button {
	  position: absolute;
	  right: 24px;
	  top: 24px;
	  width: 48px;
	  height: 48px;
  }

  .messageImage {
	float: left;
	max-width: 40px;
	max-height: 40px;
	margin-left: 0.5%;
	margin-right: 0.5%;
  }
